<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IReviewsService" />
                <binding name="BasicHttpBinding_IMoviesService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ReviewsCRUDService/ReviewsService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReviewsService"
                contract="ReviewsService.IReviewsService" name="BasicHttpBinding_IReviewsService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/MovieCRUDService/Movies/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMoviesService"
                contract="MoviesService.IMoviesService" name="BasicHttpBinding_IMoviesService" />
        </client>
    </system.serviceModel>
</configuration>